services:
  broker:
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - redisdata:/data
  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    depends_on:
      - broker
    ports:
      - "8000:8000"
    volumes:
      - /mnt/ssd/paperless/data:/usr/src/paperless/data
      - /mnt/ssd/paperless/media:/usr/src/paperless/media
      - /mnt/ssd/paperless/export:/usr/src/paperless/export
      - /mnt/ssd/paperless/consume:/usr/src/paperless/consume
    env_file: docker-compose.env
    environment:
      PAPERLESS_REDIS: redis://broker:6379
volumes:
  data:
  media:
  redisdata:
